html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,div,ul,h1 {
  margin: 0;
  padding:0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover,
a:focus{
  outline: 0;
}
small {
  font-size: 80%;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-align: inherit;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
button, fieldset, img, input {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none
}
p{
  margin: .5rem 0;
  padding: 0;
}

/* wapcommon.css、style.css部分样式 */
body {
  color: #666;
  font-family: "Microsoft YaHei",arial,sans-serif,Helvetica;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}
header,footer{
  font-size: 16px;
}
header {
  text-align: center;
  border-bottom: 1px solid #D3D8DD;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

header,header>h1{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 400;
  background:#D11D1D;
  color:#fff;
  width: 100%;
  text-align: center;
}
.back {
  width: 41px;
  height: 50px;
  background: url("http://m.baibaocp.cn/static/images/fanhui.png") no-repeat left center;
  left: 0;
  top: 0;
  padding-left: 2.6875%;
  position: absolute;
  margin-left: 2.6875%;
  background-size: 22%;
  font-size: 18px;
  float: left;
}

.footer_fixed {
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  background-color: #22292c;
  height: 50px;
}

.footer_box {
  padding: 0 2.6875%;
  font-size: 20px;
  text-align: center;
}

.footer_box a{
  width: 25%;
  height: 35px;
  line-height: 35px;
  margin-top: 7px;
  border-radius: 5px;
  text-align: center;
}
.footer_box a:first-child{
  float: left;
  background-color: inherit;
  color: #444;
  width: 0;
}
#pay{
  float: right;
  background-color: #ffb400;
  color: #5D3B07;
}
.footer_box .money {
  float: left;
  height: 35px;
  line-height: 18px;
  width: 75%;
  color: #ededed;
  margin-top: 6px;
}

html{ font-size: 10px }
@media all and (min-width:321px) and (max-width:375px){ html{font-size: 11px} }
@media all and (min-width:376px) and (max-width:414px){ html{font-size: 12px} }
@media all and (min-width:415px) and (max-width:639px){ html{font-size: 15px} }
@media all and (min-width:640px) and (max-width:719px){ html{font-size: 20px} }
@media all and (min-width:720px) and (max-width:749px){ html{font-size: 22.5px} }
@media all and (min-width:750px) and (max-width:799px){ html{font-size: 23.5px} }
@media all and (min-width:800px) { html{font-size: 25px} }